@{
    ViewData["Title"] = "หน้าหลัก | บริษัท บริหารสินทรัพย์สุขุมวิท จำกัด";
    ViewData["MetaDescription"] = "บริษัท บริหารสินทรัพย์สุขุมวิท จำกัด";
}

<section class="section section--banner">
    <div class="section__breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">หน้าแรก</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span>ติดต่อเรา</span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="container-fluid">
        <h1 class="page__title">
            ติดต่อเรา
        </h1>
    </div>
</section>

<section>
    <div class="section section--contact">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="branch--list">
                        <div class="branch--item" data-link="https://maps.app.goo.gl/SHdC1CHEtut2hoZ8A" data-iframe="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d407.2578888267243!2d100.55902363114593!3d13.808276074108816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29db5e602c041%3A0x2eba4e6790060328!2zU0FNIOC4muC4o-C4tOC4qeC4seC4lyDguJrguKPguLTguKvguLLguKPguKrguLTguJnguJfguKPguLHguJ7guKLguYzguKrguLjguILguLjguKHguKfguLTguJcg4LiI4Liz4LiB4Lix4LiUICjguKrguJnguI0uKQ!5e0!3m2!1sen!2sth!4v1775788162178!5m2!1sen!2sth">
                            <h2 class="branch__title">สำนักงานใหญ่</h2>
                            <ul class="branch__info">
                                <li>
                                    <span class="branch__label">
                                        ที่อยู่
                                    </span>
                                    <span class="branch__text">
                                        : 123 อาคารซันทาวเวอร์ส เอ ชั้น 27-30 ถนนวิภาวดีรังสิต แขวงจอมพล เขตจตุจักร กรุงเทพฯ 10900
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        เบอร์โทรศัพท์
                                    </span>
                                    <span class="branch__text">
                                        : 1443 หรือ 0-2686-1800
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        โทรสาร
                                    </span>
                                    <span class="branch__text">
                                        : 0-2617-8228 และ 0-2617-8232
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        อีเมล
                                    </span>
                                    <span class="branch__text">
                                        : corp@sam.or.th
                                    </span>
                                </li>
                            </ul>
                            <div class="d-flex gap-2 mt-4">
                                <a href="tel: 1443" class="btn btn--hover btn--green">
                                    <span class="btn__text">ติดต่อเจ้าหน้าที่</span>
                                </a>
                                <a href="#" class="btn btn--hover btn--pink d-inline-flex d-lg-none btn-mobile-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                                <a href="javascript: void(0)" class="btn btn--hover btn--pink d-none d-lg-inline-flex btn-desktop-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                            </div>
                        </div>

                        <div class="branch--item" data-link="https://maps.app.goo.gl/NiCuHoCkGqCaoGKK7" data-iframe="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3776.750783565631!2d98.97139137519876!3d18.809256582341146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da3a92e3f9b66f%3A0xc64e6ef589436b7e!2z4Lia4Lij4Li04Lip4Lix4LiXIOC4muC4o-C4tOC4q-C4suC4o-C4quC4tOC4meC4l-C4o-C4seC4nuC4ouC5jOC4quC4uOC4guC4uOC4oeC4p-C4tOC4lyDguIjguLPguIHguLHguJQ!5e0!3m2!1sen!2sth!4v1775789571418!5m2!1sen!2sth">
                            <h2 class="branch__title">สาขาเชียงใหม่</h2>
                            <ul class="branch__info">
                                <li>
                                    <span class="branch__label">
                                        ที่อยู่
                                    </span>
                                    <span class="branch__text">
                                        : 109/4 ถ.เชียงใหม่-ลำปาง เทศบาลตำบลช้างเผือก อำเภอเมือง จังหวัดเชียงใหม่ 50300
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        เบอร์โทรศัพท์
                                    </span>
                                    <span class="branch__text">
                                        : 053-217-318, 053-217-398
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        โทรสาร
                                    </span>
                                    <span class="branch__text">
                                        : 053-217-308
                                    </span>
                                </li>
                            </ul>
                            <div class="d-flex gap-2 mt-4">
                                <a href="tel: 053-217-318" class="btn btn--hover btn--green">
                                    <span class="btn__text">ติดต่อเจ้าหน้าที่</span>
                                </a>
                                <a href="#" class="btn btn--hover btn--pink d-inline-flex d-lg-none btn-mobile-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                                <a href="javascript: void(0)" class="btn btn--hover btn--pink d-none d-lg-inline-flex btn-desktop-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                            </div>
                        </div>

                        <div class="branch--item" data-link="https://maps.app.goo.gl/nXkWBWWbudDUvKKP6" data-iframe="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.744748558001!2d102.83713617514384!3d16.437784984296428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31228979bcaaf2d9%3A0x2d851c2805642b48!2zU0FNIOC4muC4o-C4tOC4qeC4seC4lyDguJrguKPguLTguKvguLLguKPguKrguLTguJnguJfguKPguLHguJ7guKLguYzguKrguLjguILguLjguKHguKfguLTguJcg4LiI4Liz4LiB4Lix4LiUIOC4quC4suC4guC4suC4guC4reC4meC5geC4geC5iOC4mQ!5e0!3m2!1sen!2sth!4v1775790802533!5m2!1sen!2sth">
                            <h2 class="branch__title">สาขาขอนแก่น</h2>
                            <ul class="branch__info">
                                <li>
                                    <span class="branch__label">
                                        ที่อยู่
                                    </span>
                                    <span class="branch__text">
                                        : 3/6 ถนนประชาสโมสร ตำบลในเมือง อำเภอเมือง จังหวัดขอนแก่น 40000
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        เบอร์โทรศัพท์
                                    </span>
                                    <span class="branch__text">
                                        : 043-271-506-7
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        เบอร์มือถือ
                                    </span>
                                    <span class="branch__text">
                                        : 089-569-1545
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        โทรสาร
                                    </span>
                                    <span class="branch__text">
                                        : 043-271-505
                                    </span>
                                </li>
                            </ul>
                            <div class="d-flex gap-2 mt-4">
                                <a href="tel: 043-271-506" class="btn btn--hover btn--green">
                                    <span class="btn__text">ติดต่อเจ้าหน้าที่</span>
                                </a>
                                <a href="#" class="btn btn--hover btn--pink d-inline-flex d-lg-none btn-mobile-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                                <a href="javascript: void(0)" class="btn btn--hover btn--pink d-none d-lg-inline-flex btn-desktop-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                            </div>
                        </div>

                        <div class="branch--item" data-link="https://maps.app.goo.gl/tDgxALaunksSZpBf9" data-iframe="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3939.097171001093!2d99.3611251750203!3d9.145696290920359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x305406453bbd7bc7%3A0x75716a150647f864!2z4Lia4Lij4Li04Lip4Lix4LiXIOC4muC4o-C4tOC4q-C4suC4o-C4quC4tOC4meC4l-C4o-C4seC4nuC4ouC5jOC4quC4uOC4guC4uOC4oeC4p-C4tOC4lyDguIjguLPguIHguLHguJQg4Liq4Liy4LiC4Liy4Liq4Li44Lij4Liy4Lip4LiO4Lij4LmM4LiY4Liy4LiZ4Li1!5e0!3m2!1sen!2sth!4v1775790881903!5m2!1sen!2sth">
                            <h2 class="branch__title">สาขาสุราษฎร์ธานี</h2>
                            <ul class="branch__info">
                                <li>
                                    <span class="branch__label">
                                        ที่อยู่
                                    </span>
                                    <span class="branch__text">
                                        : 81/144 ถนนโฉลกรัฐ ตำบลบางกุ้ง อำเภอเมือง จ.สุราษฎร์ธานี 84000
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        เบอร์โทรศัพท์
                                    </span>
                                    <span class="branch__text">
                                        : 077-910-180-3
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        เบอร์มือถือ
                                    </span>
                                    <span class="branch__text">
                                        : 089-290-0303
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        โทรสาร
                                    </span>
                                    <span class="branch__text">
                                        : 077-910-075
                                    </span>
                                </li>
                            </ul>
                            <div class="d-flex gap-2 mt-4">
                                <a href="tel: 077-910-180" class="btn btn--hover btn--green">
                                    <span class="btn__text">ติดต่อเจ้าหน้าที่</span>
                                </a>
                                <a href="#" class="btn btn--hover btn--pink d-inline-flex d-lg-none btn-mobile-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                                <a href="javascript: void(0)" class="btn btn--hover btn--pink d-none d-lg-inline-flex btn-desktop-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                            </div>
                        </div>

                        <div class="branch--item" data-link="https://maps.app.goo.gl/6TEbmoaxW9NSoQry9" data-iframe="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.795777105458!2d100.23782877515254!3d16.836484483959833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30dfbd0a54fe8379%3A0x3ecef11a6e041b72!2zU0FNIOC4muC4o-C4tOC4qeC4seC4lyDguJrguKPguLTguKvguLLguKPguKrguLTguJnguJfguKPguLHguJ7guKLguYzguKrguLjguILguLjguKHguKfguLTguJcg4LiI4Liz4LiB4Lix4LiUIOC4quC4suC4guC4suC4nuC4tOC4qeC4k-C4uOC5guC4peC4gQ!5e0!3m2!1sen!2sth!4v1775790940537!5m2!1sen!2sth">
                            <h2 class="branch__title">สาขาพิษณุโลก</h2>
                            <ul class="branch__info">
                                <li>
                                    <span class="branch__label">
                                        ที่อยู่
                                    </span>
                                    <span class="branch__text">
                                        : 5/16-17 หมู่ 5 ถนนสิงหวัฒน์ ตำบลบ้านคลอง อำเภอเมืองพิษณุโลก จังหวัดพิษณุโลก 65000
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        เบอร์โทรศัพท์
                                    </span>
                                    <span class="branch__text">
                                        : 055-259-042-3
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        โทรสาร
                                    </span>
                                    <span class="branch__text">
                                        : 055-259-048
                                    </span>
                                </li>
                            </ul>
                            <div class="d-flex gap-2 mt-4">
                                <a href="tel: 055-259-042" class="btn btn--hover btn--green">
                                    <span class="btn__text">ติดต่อเจ้าหน้าที่</span>
                                </a>
                                <a href="#" class="btn btn--hover btn--pink d-inline-flex d-lg-none btn-mobile-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                                <a href="javascript: void(0)" class="btn btn--hover btn--pink d-none d-lg-inline-flex btn-desktop-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                            </div>
                        </div>

                        <div class="branch--item" data-link="https://maps.app.goo.gl/6uLG4EonS2fQQSQq7" data-iframe="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.369119402893!2d100.93777207508263!3d13.3272999870217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311d4b003a7c23f7%3A0x6522d4d79c060f51!2z4Lia4Lij4Li04Lip4Lix4LiXIOC4muC4o-C4tOC4q-C4suC4o-C4quC4tOC4meC4l-C4o-C4seC4nuC4ouC5jCDguKrguLjguILguLjguKHguKfguLTguJcg4LiI4Liz4LiB4Lix4LiUKOC4qOC4ueC4meC4ouC5jOC4mOC4uOC4o-C4geC4tOC4iOC4oOC4suC4hOC4leC4sOC4p-C4seC4meC4reC4reC4gSk!5e0!3m2!1sen!2sth!4v1775790991589!5m2!1sen!2sth">
                            <h2 class="branch__title">ศูนย์ธุรกิจภาคตะวันออก (ชลบุรี)</h2>
                            <ul class="branch__info">
                                <li>
                                    <span class="branch__label">
                                        ที่อยู่
                                    </span>
                                    <span class="branch__text">
                                        : 9/169 หมู่ 3 ถนนเสม็ด-อ่างศิลา ตำบลเสม็ด อำเภอเมืองชลบุรี จังหวัดชลบุรี 20000
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        เบอร์โทรศัพท์
                                    </span>
                                    <span class="branch__text">
                                        : 038-110-070
                                    </span>
                                </li>
                                <li>
                                    <span class="branch__label">
                                        โทรสาร
                                    </span>
                                    <span class="branch__text">
                                        : 038-110-071
                                    </span>
                                </li>
                            </ul>
                            <div class="d-flex gap-2 mt-4">
                                <a href="tel: 038-110-070" class="btn btn--hover btn--green">
                                    <span class="btn__text">ติดต่อเจ้าหน้าที่</span>
                                </a>
                                <a href="#" class="btn btn--hover btn--pink d-inline-flex d-lg-none btn-mobile-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                                <a href="javascript: void(0)" class="btn btn--hover btn--pink d-none d-lg-inline-flex btn-desktop-map">
                                    <span class="btn__text">ขอเส้นทาง</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="branch--map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d407.2578888267243!2d100.55902363114593!3d13.808276074108816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29db5e602c041%3A0x2eba4e6790060328!2zU0FNIOC4muC4o-C4tOC4qeC4seC4lyDguJrguKPguLTguKvguLLguKPguKrguLTguJnguJfguKPguLHguJ7guKLguYzguKrguLjguILguLjguKHguKfguLTguJcg4LiI4Liz4LiB4Lix4LiUICjguKrguJnguI0uKQ!5e0!3m2!1sen!2sth!4v1775788162178!5m2!1sen!2sth" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {

}
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const branchItems = document.querySelectorAll('.branch--item');
            const mainIframe = document.querySelector('.branch--map iframe');

            branchItems.forEach(item => {
                const mobileLink = item.getAttribute('data-link');
                const iframeSrc = item.getAttribute('data-iframe');

                // --- 1. สำหรับ Mobile/Tablet: ใส่ Link ให้ปุ่มโดยตรง ---
                const mobileBtn = item.querySelector('.btn-mobile-map');
                if (mobileBtn && mobileLink) {
                    mobileBtn.setAttribute('href', mobileLink);
                    mobileBtn.setAttribute('target', '_blank'); // ให้เปิดแอปหรือแท็บใหม่
                }

                // --- 2. สำหรับ Desktop: เปลี่ยน Iframe เมื่อคลิก ---
                const desktopBtn = item.querySelector('.btn-desktop-map');
                if (desktopBtn && iframeSrc) {
                    desktopBtn.addEventListener('click', function() {
                        // เปลี่ยน src ของ iframe หลัก
                        mainIframe.src = iframeSrc;

                        // (Optional) Scroll กลับไปที่แผนที่เพื่อให้ผู้ใช้เห็นว่าเปลี่ยนแล้ว
                        mainIframe.scrollIntoView({ behavior: 'smooth', block: 'center' });

                        // เพิ่มลูกเล่น: ทำ Hilight สาขาที่เลือก (ถ้าต้องการ)
                        document.querySelectorAll('.branch--item').forEach(el => el.classList.remove('active-branch'));
                        item.classList.add('active-branch');
                    });
                }
            });
        });
    </script>
}