@{
    ViewData["Title"] = "หน้าหลัก | บริษัท บริหารสินทรัพย์สุขุมวิท จำกัด";
    ViewData["MetaDescription"] = "บริษัท บริหารสินทรัพย์สุขุมวิท จำกัด";
}

<section class="section section--banner">
    <div class="section__breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">หน้าแรก</a></li>
                <li class="breadcrumb-item"><a href="/contact-us">ติดต่อเรา</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    <span>หน่วยงานที่เกี่ยวข้อง</span>
                </li>
            </ol>
        </nav>
    </div>
</section>

<section>
    <div class="section section--contact bg-attachment-fixed py-5 py-lg-6" style="background-image:url(/media/images/bg/bg-contact-3.jpg)">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mb-5">
                    <h2 class="page__title mb-3">
                        หน่วยงานภาครัฐ
                    </h2>
                    <div class="card-deck card-deck--cards-1 card-deck--cards-md-3 card-deck--cards-lg-6 mb-4">
                        <div class="card card--banner">
                            <div class="card__figure">
                                <img src="~/media/images/contact/organization/thumb.jpg" alt="ธนาคารแห่งประเทศไทย" class="card__image" />
                            </div>
                            <div class="card__title">
                                ธนาคารแห่งประเทศไทย
                            </div>
                            <a href="https://www.bot.or.th/" target="_blank" class="stretched-link"></a>
                        </div>

                        <div class="card card--banner">
                            <div class="card__figure">
                                <img src="~/media/images/contact/organization/thumb-1.jpg" alt="กระทรวงการคลัง" class="card__image" />
                            </div>
                            <div class="card__title">
                                กระทรวงการคลัง
                            </div>
                            <a href="https://www.mof.go.th/" target="_blank" class="stretched-link"></a>
                        </div>

                        <div class="card card--banner">
                            <div class="card__figure">
                                <img src="~/media/images/contact/organization/thumb-2.jpg" alt="กรมบังคับคดี" class="card__image" />
                            </div>
                            <div class="card__title">
                                กรมบังคับคดี
                            </div>
                            <a href="https://www.led.go.th/" target="_blank" class="stretched-link"></a>
                        </div>

                        <div class="card card--banner">
                            <div class="card__figure">
                                <img src="~/media/images/contact/organization/thumb-3.jpg" alt="สำนักงานคณะกรรมการนโยบายรัฐวิสาหกิจ" class="card__image" />
                            </div>
                            <div class="card__title">
                                สำนักงานคณะกรรมการนโยบายรัฐวิสาหกิจ
                            </div>
                            <a href="https://www.sepo.go.th/" target="_blank" class="stretched-link"></a>
                        </div>

                        <div class="card card--banner">
                            <div class="card__figure">
                                <img src="~/media/images/contact/organization/thumb-4.jpg" alt="สำนักงานคณะกรรมการ กำกับหลักทรัพย์และตลาดหลักทรัพย์" class="card__image" />
                            </div>
                            <div class="card__title">
                                สำนักงานคณะกรรมการ กำกับหลักทรัพย์และตลาดหลักทรัพย์
                            </div>
                            <a href="https://www.sec.or.th/" target="_blank" class="stretched-link"></a>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-5">
                    <h2 class="page__title mb-3">
                        หน่วยงานต่างประเทศ
                    </h2>
                    <div class="card-deck card-deck--cards-1 card-deck--cards-md-3 card-deck--cards-lg-6 mb-4">
                        <div class="card card--banner">
                            <div class="card__figure">
                                <img src="~/media/images/contact/organization/thumb-6.jpg" alt="Korea Asset Management Corporation (KAMCO)" class="card__image" />
                            </div>
                            <div class="card__title">
                                Korea Asset Management Corporation (KAMCO)
                            </div>
                            <a href="https://www.kamco.or.kr/" target="_blank" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
}
@section Scripts {
}