<footer class="footer">
    <div class="footer__container">

        <div class="footer__section footer__section--left">
            <div class="footer__actions">
                <a href="/careers" class="btn btn--hover btn--green">
                    <span class="btn__text">ร่วมงานกับเรา</span>
                    <span class="btn__icon"><i class="bi bi-arrow-up-short"></i></span>
                </a>
                <a href="/contact" class="btn btn--hover btn--gray">
                    <span class="btn__text">ติดต่อเรา</span>
                    <span class="btn__icon"><i class="bi bi-arrow-up-short"></i></span>
                </a>
            </div>

            <div class="footer__contact">
                <p class="footer__contact-label">สายด่วน</p>
                <a href="tel:1443" class="footer__contact-phone">1443</a>
            </div>

            <div class="footer__socials">
                <a href="#" class="footer__social-link">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="#" class="footer__social-link">
                    <i class="bi bi-youtube"></i>
                </a>
                <a href="#" class="footer__social-link">
                    <i class="bi bi-line"></i>
                </a>
                <a href="#" class="footer__social-link">
                    <i class="bi bi-twitter-x"></i>
                </a>
            </div>

            <div class="footer__logo">
                <a href="/" class="footer__logo-link">
                    <img src="~/media/images/logo/logo-xl.svg" class="footer__logo-img" alt="Logo" />
                </a>
            </div>
        </div>

        <div class="footer__section footer__section--right">
            <div class="footer__banner">
                <img src="~/media/images/footer-banner.webp" class="footer__banner-img" alt="Banner" />
            </div>

            <div class="footer__apps-box">
                <p class="footer__app-label">
                    พบเราบนมือถือของคุณ
                </p>
                <a href="/" class="footer__app-link">
                    <img src="~/media/images/btn-appstore.webp" class="footer__app-img" />
                </a>
                <a href="/" class="footer__app-link">
                    <img src="~/media/images/btn-playstore.webp" class="footer__app-img" />
                </a>
            </div>

            <div class="footer__nav">
                <div class="footer__nav-group">
                    <a href="#" class="footer__nav-link">แผนผังเว็บไซต์</a>
                    <a href="#" class="footer__nav-link">แบบสำรวจ</a>
                    <a href="#" class="footer__nav-link">สำหรับเจ้าหน้าที่</a>
                    <a href="#" class="footer__nav-link">คำนวณสินเชื่อ</a>
                </div>
                <div class="footer__nav-group">
                    <a href="#" class="footer__nav-link">ประกาศความเป็นส่วนตัว</a>
                    <a href="#" class="footer__nav-link">ข้อตกลงและเงื่อนไขการใช้บริการอิเล็กทรอนิกส์</a>
                    <a href="#" class="footer__nav-link">การเปิดเผยข้อมูลและความโปร่งใสในการดำเนินงาน</a>
                </div>
                <p class="footer__copyright">
                    © 2026 บริษัท บริหารสินทรัพย์สุขุมวิท จำกัด
                </p>
            </div>
        </div>

    </div>
</footer>