<header class="header">
    <nav class="nav-bar">
        <div class="nav-container">
            <div class="nav-blur"></div>
            <ul class="nav-menu">
                <li class="nav-item nav-item--has-mega">
                    <a href="#" class="nav-item__link">เกี่ยวกับเรา <span class="nav-item__arrow"></span></a>
                    <div class="mega-menu">
                        <div class="mega-menu__wrapper">
                            <div class="mega-menu__sidebar">
                                <div class="mega-menu__back-l1"><i class="bi bi-arrow-left"></i> กลับเมนูหลัก</div>
                                <div class="mega-menu__category mega-menu__category--active" data-target="about-1">รู้จักเรา <span class="mega-menu__arrow"></span></div>
                                <div class="mega-menu__category" data-target="about-2">การจัดการองค์กร <span class="mega-menu__arrow"></span></div>
                                <div class="mega-menu__category" data-target="about-3">นโยบายการดำเนินงาน <span class="mega-menu__arrow"></span></div>
                            </div>
                            <div class="mega-menu__main">
                                <div class="content-panel content-panel--active" id="about-1">
                                    <div class="content-panel__back"><i class="bi bi-arrow-left"></i>ย้อนกลับ</div>
                                    <h3 class="content-panel__title">รู้จักเรา</h3>
                                    <div class="content-panel__grid">
                                        <a href="#" class="content-panel__link">วิสัยทัศน์/พันธกิจ</a>
                                        <a href="#" class="content-panel__link">ประวัติความเป็นมา</a>
                                        <a href="#" class="content-panel__link">โครงสร้างองค์กร</a>
                                        <a href="#" class="content-panel__link">รายงานประจำปี</a>
                                        <a href="#" class="content-panel__link">รายงานการเงิน</a>
                                    </div>
                                </div>
                                <div class="content-panel" id="about-2">
                                    <div class="content-panel__back"><i class="bi bi-arrow-left"></i>ย้อนกลับ</div>
                                    <h3 class="content-panel__title">การจัดการองค์กร</h3>
                                    <div class="content-panel__grid">
                                        <a href="#" class="content-panel__link">คณะกรรมการบริษัท</a>
                                        @* <a href="#" class="content-panel__link">คณะกรรมการบริหารความเสี่ยงและบรรษัทภิบาล (คสบ.)</a>
                                        <a href="#" class="content-panel__link">คณะกรรมการตรวจสอบ</a>
                                        <a href="#" class="content-panel__link">คณะกรรมการกฎหมาย (คกม.)</a>
                                        <a href="#" class="content-panel__link">คณะกรรมการกลยุทธ์และบริหาร (คกบ.)</a>
                                        <a href="#" class="content-panel__link">คณะกรรมการสรรหา และพิจารณาผลตอบแทน (คส.)</a>
                                        <a href="#" class="content-panel__link">คณะกรรมการบริหารสินทรัพย์ (ECC)</a>
                                        <a href="#" class="content-panel__link">คณะกรรมการบริหารทรัพย์สินรอการขาย (NPAC)</a>
                                        <a href="#" class="content-panel__link">คณะกรรมการเทคโนโลยีสารสนเทศ (ITC)</a> *@
                                        <a href="#" class="content-panel__link">คณะกรรมการอื่นๆ</a>
                                        <a href="#" class="content-panel__link">คณะผู้บริหารระดับสูง</a>
                                        <a href="#" class="content-panel__link">คณะผู้บริหารฝ่าย</a>
                                    </div>
                                </div>
                                <div class="content-panel" id="about-3">
                                    <div class="content-panel__back"><i class="bi bi-arrow-left"></i>ย้อนกลับ</div>
                                    <h3 class="content-panel__title">นโยบายการดำเนินงาน</h3>
                                    <div class="content-panel__grid">
                                        <a href="#" class="content-panel__link">การบริหารสินทรัพย์ด้อยคุณภาพ บสส.</a>
                                        <a href="#" class="content-panel__link">การบริหารทรัพย์สินรอการขาย</a>
                                        <a href="#" class="content-panel__link">การสร้างโอกาสทางธุรกิจ บสส.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item--has-mega">
                    <a href="#" class="nav-item__link">ทรัพย์สินรอการขาย  <span class="nav-item__arrow"></span> </a>

                    <div class="mega-menu mega-menu--v2">
                        <div class="mega-menu__wrapper">
                            <div class="mega-menu__sidebar">
                                <div class="mega-menu__back-l1"><i class="bi bi-arrow-left"></i> กลับเมนูหลัก</div>

                                <a href="#" class="mega-menu__category">ค้นหาทรัพย์สิน</a>
                                <a href="#" class="mega-menu__category">ประเภททรัพย์</a>
                                <a href="#" class="mega-menu__category">โปรโมชั่นทรัพย์สินเด่น</a>
                                <a href="#" class="mega-menu__category">ขั้นตอนการซื้อทรัพย์</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item--has-mega">
                    <a href="#" class="nav-item__link">บริหารหนี้ด้อยคุณภาพ <span class="nav-item__arrow"></span> </a>

                    <div class="mega-menu mega-menu--v2">
                        <div class="mega-menu__wrapper">
                            <div class="mega-menu__sidebar">
                                <div class="mega-menu__back-l1"><i class="bi bi-arrow-left"></i> กลับเมนูหลัก</div>

                                <a href="#" class="mega-menu__category">ภาพรวมการบริหารหนี้</a>
                                <a href="#" class="mega-menu__category">ขั้นตอนการปรับโครงสร้างหนี้</a>
                                <a href="#" class="mega-menu__category">สิทธิประโยชน์ลูกหนี้</a>
                                <a href="#" class="mega-menu__category">ดาวน์โหลดแบบฟอร์ม / เอกสารที่เกี่ยวข้อง</a>
                                <a href="#" class="mega-menu__category">ลงทะเบียนปรับโครงสร้างหนี้</a>
                                <a href="#" class="mega-menu__category">คลินิกแก้หนี้</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item--has-mega">
                    <a href="#" class="nav-item__link">ข่าวสารและประกาศ <span class="nav-item__arrow"></span></a>
                    <div class="mega-menu">
                        <div class="mega-menu__wrapper">
                            <div class="mega-menu__sidebar">
                                <div class="mega-menu__back-l1"><i class="bi bi-arrow-left"></i> กลับเมนูหลัก</div>
                                <div class="mega-menu__category mega-menu__category--active" data-target="news-1">ข่าวสาร <span class="mega-menu__arrow"></span></div>
                                <div class="mega-menu__category" data-target="news-2">ประกาศ <span class="mega-menu__arrow"></span></div>
                            </div>
                            <div class="mega-menu__main">
                                <div class="content-panel content-panel--active" id="news-1">
                                    <div class="content-panel__back"><i class="bi bi-arrow-left"></i>ย้อนกลับ</div>
                                    <h3 class="content-panel__title">ข่าวสาร</h3>
                                    <div class="content-panel__grid">
                                        <a href="#" class="content-panel__link">ข่าวประชาสัมพันธ์</a>
                                        <a href="#" class="content-panel__link">บทความ</a>
                                        <a href="#" class="content-panel__link">วิดีโอ / สื่อประชาสัมพันธ์</a>
                                    </div>
                                </div>

                                <div class="content-panel" id="news-2">
                                    <div class="content-panel__back"><i class="bi bi-arrow-left"></i>ย้อนกลับ</div>
                                    <h3 class="content-panel__title">ประกาศ</h3>
                                    <div class="content-panel__grid">
                                        <a href="#" class="content-panel__link">อัตราดอกเบี้ย</a>
                                        <a href="#" class="content-panel__link">จัดซื้อจัดจ้าง</a>
                                        <a href="#" class="content-panel__link">NPL/NPA</a>
                                        <a href="#" class="content-panel__link">ทั่วไป</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item--has-mega">
                    <a href="#" class="nav-item__link">ร่วมงานกับเรา <span class="nav-item__arrow"></span> </a>

                    <div class="mega-menu mega-menu--v2">
                        <div class="mega-menu__wrapper">
                            <div class="mega-menu__sidebar">
                                <div class="mega-menu__back-l1"><i class="bi bi-arrow-left"></i> กลับเมนูหลัก</div>

                                <a href="#" class="mega-menu__category">ตำแหน่งงานว่าง</a>
                                <a href="#" class="mega-menu__category">วัฒนธรรมองค์กร</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item--has-mega">
                    <a href="#" class="nav-item__link">ติดต่อเรา <span class="nav-item__arrow"></span></a>

                    <div class="mega-menu mega-menu--v2">
                        <div class="mega-menu__wrapper">
                            <div class="mega-menu__sidebar">
                                <div class="mega-menu__back-l1"><i class="bi bi-arrow-left"></i> กลับเมนูหลัก</div>

                                <a href="/contact" class="mega-menu__category">สำนักงานใหญ่ / สาขา</a>
                                <a href="/complaint" class="mega-menu__category">ช่องทางร้องเรียน / ข้อเสนอแนะ</a>
                                <a href="#" class="mega-menu__category">ดาวน์โหลดแบบฟอร์ม</a>
                                <a href="/faq" class="mega-menu__category">คำถามที่พบบ่อย</a>
                                <a href="#" class="mega-menu__category">หน่วยงานที่เกี่ยวข้อง</a>
                                <a href="#" class="mega-menu__category">แลกเปลี่ยนลิงค์</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="search-panel--mobile">
                <a href="/register" title="" class="d-flex d-lg-none btn btn--hover btn--green">
                    <span class="btn__text">สมัครสมาชิก</span>
                    <span class="btn__icon"><svg class="icon"><use xlink:href="#icon-arrow-explore"></use></svg></span>
                </a>
                <a href="/login" title="" class="d-flex d-lg-none btn btn--hover btn--gray">
                    <span class="btn__text">เข้าสู่ระบบ</span>
                    <span class="btn__icon"><svg class="icon"><use xlink:href="#icon-arrow-explore"></use></svg></span>
                </a>
            </div>
        </div>
    </nav>
    <div class="nav-wrapper">
        <div class="nav-wrapper__left d-flex align-items-center">
            <button class="menu-toggle" id="mobile-menu-btn">
                <span></span><span></span><span></span>
            </button>
            <div class="logo-container">
                <a href="/" title="" class="logo-container__link">
                    <img src="~/media/images/logo/logo-main.webp" class="logo-container__image" />
                </a>
            </div>
        </div>
        <div class="nav-wrapper__right d-flex align-items-center gap-2">
            @* <a href="/register" title="" class="d-none d-lg-flex btn btn--hover btn--green">
                <span class="btn__text">สมัครสมาชิก</span>
                <span class="btn__icon"><i class="bi bi-arrow-up-short"></i></span>
            </a>
            <a href="/login" title="" class="d-none d-lg-flex btn btn--hover btn--gray">
                <span class="btn__text">เข้าสู่ระบบ</span>
                <span class="btn__icon">
                    <i class="bi bi-arrow-up-short"></i>
                </span>
            </a> *@
            <div class="member-panel d-none d-lg-block">
                <button class="btn btn--hover btn--green" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="btn__text">ระบบสมาชิก</span>
                    <span class="btn__icon">
                        <svg class="icon"><use xlink:href="#icon-arrow-explore"></use></svg>
                    </span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">เข้าสู่ระบบ</a></li>
                    <li><a class="dropdown-item" href="#">สมัครสมาชิก</a></li>
                </ul>
            </div>
            <div class="nav-switch bg-overlay-black-blur">
                <a href="/search" title="" class="nav-switch__link">
                    <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                </a>
                <div class="language dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        EN
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item active" href="#">EN</a></li>
                        <li><a class="dropdown-item" href="#">TH</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
