@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.cart--container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    margin-top: 2rem;
    gap: 30px;

    @include media.media-up(lg) {
        flex-direction: row;
        align-items: flex-start;
    }

    .cart--main {
        flex: 2;

        .cart-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;

            .cart-title {
                margin: 0;
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 2rem;
                text-transform: uppercase;
            }
        }

        .cart-items-list {
            flex-grow: 1;
            min-height: 325px;
            overflow-y: hidden;

            .cart-item {
                display: flex;
                gap: 20px;
                margin-bottom: 2rem;

                &__media {
                    position: relative;
                    flex-shrink: 1;
                    width: 10rem;
                }

                &__link {
                    display: block;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                &__image {
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                }

                &__details {
                    flex-grow: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }

                &__name {
                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: black;
                }

                &__size {
                    margin-top: 10px;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: vars.$gray;
                }

                &__price {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 10px;
                    margin-top: 1.5rem;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    color: black;

                    .price--sale {
                        color: vars.$red;
                    }

                    .price--old {
                        color: vars.$gray
                    }

                    .badge--sale {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        min-width: 70px;
                        width: auto;
                        height: 2rem;
                        padding: .25rem;
                        font-weight: 400;
                        font-size: .875rem;
                        border-radius: 4px;
                        color: white;
                        background-color: vars.$red;
                    }
                }

                &__actions {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }

                &__quantity {
                    display: flex;
                    align-items: center;
                    border: 1px solid rgba(213, 213, 213, 1);
                    border-radius: 4px;
                    height: 45px;

                    .qty-input {
                        border: none;
                        width: 50px;
                        font-size: 1rem;
                        color: black;
                        text-align: center;
                        pointer-events: none;
                        padding: 0;
                        appearance: none;
                        -webkit-appearance: none;
                        background: transparent;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .qty-input::-webkit-outer-spin-button,
                    .qty-input::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }

                    .qty-input[type=number] {
                        -moz-appearance: textfield;
                    }

                    .qty-btn {
                        border: none;
                        background: none;
                        width: 50px;
                        cursor: pointer;
                        font-size: 1.25rem;
                        color: black;
                    }
                }

                &__remove {
                    margin-top: 10px;
                    font-weight: 400;
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                    color: vars.$gray;
                    border: none;
                    background: none;
                    cursor: pointer;
                }
            }
        }
    }

    .cart--block {
        width: 100%;
        padding: 20px;
        border-radius: 4px;
        background-color: rgba(245, 245, 245, 1);

        .cart-title {
            margin-bottom: 1.5rem;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 2rem;
            text-transform: uppercase;
        }

        .cart-summary {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: black;

            .total-summary {
                font-weight: 600;
                font-size: 1.5rem;
                line-height: 2rem;
                color: black;
                text-transform: uppercase;
            }
        }

        .cart-ctas {
            margin-top: 1rem;
        }

        @media screen and (min-width: 1200px) {
            width: 30rem;
        }

        @media screen and (min-width: 1600px) {
            width: 35rem;
        }
    }
}
