@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.hero-banner {
    position: relative;

    .home-slide {
        overflow: hidden;
        position: relative;
    }
}

.home-wrapper {
    position: relative;

    .quick-links {
        width: 100%;

        &__grid {
            display: grid;
            grid-template-columns: 1fr; // แบ่ง 2 คอลัมน์บน Desktop
            gap: 24px; // ใช้ border แทน gap เพื่อให้เส้นบรรทัดติดกัน
        }

        &__item {
            border-top: 1px solid var(--light); // เส้นคั่นด้านบน
            transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
        }

        &__link {
            display: flex;
            text-decoration: none;
            padding: 1.5rem 1rem;
            transition: all 0.3s ease;
            // --- Mobile & Tablet First ---
            flex-direction: column; // เรียงต่อกันเป็นแนวตั้ง
            align-items: flex-start; // ให้ทุกอย่างชิดซ้าย
            gap: 0.5rem;

            &:hover {
                .quick-links__label {
                    color: var(--color-primary-dark); // เปลี่ยนสีข้อความตอน hover
                }
            }
        }

        &__number {
            font-weight: 400;
            color: var(--color-primary-dark);
            font-size: 2rem;
        }

        &__content-wrapper {
            display: flex;
            align-items: center;
            width: 100%; // ให้กางเต็มพื้นที่เพื่อดัน Icon ไปขวาสุด
            justify-content: space-between;
        }

        &__label {
            flex: 1; // ดันให้ icon ไปอยู่ขวาสุด
            color: var(--black);
            font-size: 1.5rem;
        }

        &__icon {
            color: var(--text-light);
            font-size: 2.5rem;
            transform: rotate(45deg);
        }

        @include media.media-up(md) {
            &__grid {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        @include media.media-up(lg) {
            &__link {
                flex-direction: row; // กลับมาเรียงแนวนอน
                align-items: center; // จัดให้อยู่กลางแนวตั้ง
                gap: 1.5rem;
            }
        }
    }

    .stats-board {
        position: relative;

        &__grid {
            position: relative;
            width: 100%;
            min-height: 100vh;
            aspect-ratio: 16 / 10;
            margin: 0 auto;
        }

        &__card {
            position: absolute;
            width: 39.75%; // ความกว้างโดยประมาณเทียบกับพื้นที่รวม
            // การ์ดที่ 1: สีเขียวเข้ม (บนซ้าย - หลังสุด)
            &:nth-child(1) {
                top: 0;
                left: 0;
                z-index: 1;

                .stats-board__content:before {
                    background-image: linear-gradient(120deg, var(--color-primary-dark), var(--color-primary), var(--color-primary), var(--color-primary-dark) );
                }
            }
            // การ์ดที่ 2: สีชมพู (ล่างซ้าย - กลาง)
            &:nth-child(2) {
                top: 45%;
                left: 0;
                z-index: 2;

                .stats-board__content:before {
                    background-image: linear-gradient(120deg, var(--color-accent-pink), var(--color-accent-pink-light), var(--color-accent-pink-light), var(--color-accent-pink) );
                }
            }
            // การ์ดที่ 3: สีเหลือง (บนกลาง - หน้าการ์ดสีเขียว)
            &:nth-child(3) {
                color: #333;
                top: 15%;
                left: 30%;
                z-index: 3;

                .stats-board__number, .stats-board__desc {
                    color: #4B3621;
                }

                .stats-board__content:before {
                    background-image: linear-gradient(120deg, var(--color-accent-yellow), var(--color-accent-yellow-light), var(--color-accent-yellow-light), var(--color-accent-yellow) );
                }
            }
            // การ์ดที่ 4: สีเทา/ขาว (ล่างกลาง - หน้าการ์ดสีชมพู)
            &:nth-child(4) {
                color: #333;
                top: 60%;
                left: 30%;
                z-index: 4;

                .stats-board__number, .stats-board__desc {
                    color: #4a4a4a;
                }

                .stats-board__content:before {
                    background-image: linear-gradient(120deg, var(--color-accent-gray), var(--color-neutral-gray-light), var(--color-neutral-gray-light), var(--color-accent-gray) );
                }
            }
            // การ์ดที่ 5: สีเขียวอ่อน (ขวาสุด - หน้าสุด)
            &:nth-child(5) {
                top: 35%;
                right: 0;
                z-index: 5;

                .stats-board__number, .stats-board__desc {
                    color: var(--color-primary-dark);
                }

                .stats-board__content:before {
                    background-image: linear-gradient(120deg, var(--color-nature-green), var(--color-nature-green-light), var(--color-nature-green-light), var(--color-nature-green) );
                }
            }
        }

        &__content {
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: var(--shadow-sm);
            transition: all 0.3s ease-in-out;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 8px;
                z-index: 1;
                background-size: 300% 100%;
                background-position: left center;
            }
        }

        &__text {
            position: relative;
            border-radius: 8px;
            /*aspect-ratio: 4 / 3;*/
            width: 100%;
            height: 480px;
            padding: 2rem;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            z-index: 2; /* ดันเนื้อหาขึ้นมาเหนือพื้นหลัง */
        }

        &__number {
            font-size: var(--fs-h1);
            font-weight: 800;
            margin-bottom: 1rem;
            color: var(--white);
            line-height: 1.1;
        }

        &__counter {
            display: inline-flex;
            align-items: flex-start;
            overflow: hidden;
            height: 1.2em; /* ปรับให้ครอบคลุมตัวเลข */
            line-height: 1.2em;
        }

        &__desc {
            font-weight: 400;
            font-size: var(--fs-content-lg);
            color: var(--white);
        }

        .digit-col {
            display: flex;
            flex-direction: column;
            transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
            width: 0.65em; /* กำหนดความกว้างคงที่ต่อหลักเพื่อไม่ให้ตัวเลขส่ายไปมา */
            text-align: center;
        }

        .digit-col span,
        .digit-static {
            height: 1.2em;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .digit-static {
            width: auto;
            padding: 0 2px;
        }

        @include media.media-down(lg) {
            &__grid {
                aspect-ratio: auto;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                /* Optional: Add a gap between columns and rows */
                gap: 10px;
            }

            &__card {
                position: static;
                width: auto;
            }

            &__text {
                height: 360px;
            }
        }
    }

    .asset-panel {
        .asset-tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            gap: 10px;

            .asset-badge {
                display: flex;
                align-items: center;
                background: white;
                padding: 6px 16px;
                border-radius: 20px;
                font-size: 0.9rem;
                color: var(--black);
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    background: var(--color-primary-dark);
                    color: white;

                    .asset-badge__icon {
                        fill: white;
                    }
                }
            }

            .asset-badge__icon {
                width: 16px;
                height: 16px;
                margin-right: 8px;
                fill: var(--color-primary-dark);
            }
        }
    }
}

.search-panel {
    position: absolute;
    left: 50%;
    bottom: 142px;
    width: 900px;
    max-width: 90%;
    transform: translateX(-50%);
    z-index: 9;

    &__tabs.nav-pills {
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &__tab-link.nav-link {
        color: var(--white);
        border-radius: 0.5rem;
        backdrop-filter: blur(var(--blur-intensity));
        -webkit-backdrop-filter: blur(var(--blur-intensity));
        background-color: rgba(0, 0, 0, var(--opacity-medium));

        &.active {
            color: var(--black);
            background-color: var(--white); /* สีเขียว SAM */
        }
    }

    &__content {
        position: relative;
        padding: 2rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        backdrop-filter: blur(var(--blur-intensity));
        -webkit-backdrop-filter: blur(var(--blur-intensity));
        background-color: rgba(0, 0, 0, var(--opacity-medium));
        z-index: 1050;

        @include media.media-down(md) {
            padding: 1rem;
        }
    }

    &__input-group {
        margin-bottom: 0;
        border-bottom: 1px solid var(--white);
    }

    &__input.form-control {
        width: auto;
        height: 45px;
        color: var(--white);
        padding-left: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;

        &::placeholder {
            color: var(--white);
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__select-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--white);

        &.show {
            z-index: 1050;
        }

        .dropdown-menu {
            border: none;
            border-radius: 0.5rem;
            box-shadow: 0 10px 30px rgba(0,0,0,0.2);
            margin-top: 8px !important;
            padding: 8px;
        }

        .dropdown-item {
            border-radius: 8px;
            padding: 10px 15px;
        }

        .dropdown-item:hover {
            background-color: #f8f9fa;
        }
        /* หมุนไอคอน */
        .transition-icon {
            transition: transform 0.3s ease;
        }

        .show .transition-icon {
            transform: rotate(180deg);
        }

        .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
            color: var(--white);
            box-shadow: none;
        }
    }

    &__custom-select {
        background: transparent;
        border: none;
        color: var(--white);
        padding: 10px 0;
        border-radius: 0;

        &:active {
            color: var(--white);
            box-shadow: none;
        }

        &:focus, &:focus-visible {
            color: var(--white);
            box-shadow: none;
        }

        &:hover {
            color: var(--white);
            box-shadow: none;
        }

        &.show {
            color: var(--white);
            box-shadow: none;
        }
    }

    &__select-icon {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        transition: all 0.3s ease-in-out;
    }

    &__btn {
        min-width: 1px;
        width: 45px;
        height: 45px;
        font-size: 1.5rem;
        color: var(--white);
        transition: all 0.3s ease-in-out;

        &:hover {
            color: var(--white);
            outline: none;
            box-shadow: none;
            opacity: var(--opacity-medium);
        }

        &-slide {
            min-width: 1px;
            width: 45px;
            height: 45px;
            font-size: 1.5rem;
            color: var(--black);
            background-color: var(--white);
            border-radius: 0.5rem;

            &:hover {
                background-color: rgba(255, 255, 255, var(--opacity-medium));
            }

            &:active, &:focus, &:focus-visible {
                background-color: var(--white);
                outline: none;
                box-shadow: none;

                &:hover {
                    background-color: rgba(255, 255, 255, var(--opacity-medium));
                }
            }
        }
    }
    /* Modifier */
    .ai-input-wrapper {
    }
    /* Style สำหรับ Tags */
    &__tags {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;

        @include media.media-down(md) {
            flex-wrap: wrap;
        }
    }

    &__tag-cloud {
        display: flex;
        gap: 1rem;

        @include media.media-down(md) {
            flex-wrap: wrap;
        }
    }

    &__tag {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 40px;
        padding: 0.5rem 1rem;
        color: var(--text-main);
        border-radius: 20px;
        backdrop-filter: blur(var(--blur-intensity));
        -webkit-backdrop-filter: blur(var(--blur-intensity));
        background-color: rgba(255, 255, 255, var(--opacity-medium));
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: rgba(255, 255, 255, var(--opacity-light));
        }
    }

    @include media.media-down(md) {
        bottom: 60px;
    }
}

.offcanvas-search {
    backdrop-filter: blur(var(--blur-intensity));
    -webkit-backdrop-filter: blur(var(--blur-intensity));
    background-color: rgba(0, 0, 0, var(--opacity-medium));

    &__title {
        font-weight: 600;
        font-size: 2rem;
        color: var(--white);
    }

    &__close {
        border: 0;
        background-color: transparent;
        font-size: 1.5rem;
        color: var(--white);
    }

    &__input {
        width: 100%;
        height: 45px;
        color: var(--white);
        border: 0;
        border-bottom: 1px solid var(--white);
        border-radius: 0;
        background-color: transparent;

        &::placeholder {
            color: var(--white);
        }

        &:focus {
            outline: none;
            box-shadow: none;
            background-color: transparent;
        }
    }

    &__input.form-control {
        width: 100%;
        height: 45px;
        color: var(--white);
        border: 0;
        border-bottom: 1px solid var(--white);
        border-radius: 0;
        background-color: transparent;

        &::placeholder {
            color: var(--white);
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__check-group {
        flex: 1 1 auto;
        display: flex;
        grid-gap: 12px;
        gap: 12px;

        .btn--opacity-black {
            width: 100%;
            color: var(--white);

            &:hover {
                color: var(--white);
                background-color: var(--color-accent-pink);
            }
        }
    }

    &__select-group {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--white);

        &.show {
            z-index: 1050;
        }

        .dropdown-menu {
            border: none;
            border-radius: 0.5rem;
            box-shadow: 0 10px 30px rgba(0,0,0,0.2);
            margin-top: 8px !important;
            padding: 8px;
        }

        .dropdown-item {
            border-radius: 8px;
            padding: 10px 15px;
        }

        .dropdown-item:hover {
            background-color: #f8f9fa;
        }
        /* หมุนไอคอน */
        .transition-icon {
            transition: transform 0.3s ease;
        }

        .show .transition-icon {
            transform: rotate(180deg);
        }

        .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
            color: var(--white);
            box-shadow: none;
        }
    }

    &__custom-select {
        background: transparent;
        border: none;
        color: var(--white);
        padding: 10px 0;
        border-radius: 0;

        &:active {
            color: var(--white);
            box-shadow: none;
        }

        &:focus, &:focus-visible {
            color: var(--white);
            box-shadow: none;
        }

        &:hover {
            color: var(--white);
            box-shadow: none;
        }

        &.show {
            color: var(--white);
            box-shadow: none;
        }
    }

    &__select-icon {
        position: absolute;
        right: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        transition: all 0.3s ease-in-out;
    }

    .btn-check + .btn--opacity-black {
        &:hover {
            color: var(--white);
            background-color: var(--color-accent-pink);
        }
    }

    .btn-check:checked + .btn--opacity-black {
        color: var(--white);
        background-color: var(--color-accent-pink);
    }

    &.offcanvas-start {
        width: 520px;
        max-width: 100%;

        .offcanvas-header {
            justify-content: space-between;
        }

        .offcanvas-body {
            &::-webkit-scrollbar-track {
                background-color: transparent;
            }

            &::-webkit-scrollbar {
                width: 0.5rem;
                background-color: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--white);
                border: 2px solid var(--white);
            }
        }

        .offcanvas-footer {
            background-color: transparent !important;
            padding: 20px;
        }

        .form-label {
            color: var(--white);
        }
    }

    .property-range-slider {
        padding: 10px 0;
    }

    .range-slider-container {
        position: relative;
        width: 100%;
        height: 5px; /* ความหนาของเส้น */
    }
    /* เส้นพื้นหลัง */
    .slider-track {
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(255, 255, 255, 0.3); /* สีขาวจางๆ แบบในรูป */
        border-radius: 5px;
    }
    /* ตั้งค่าพื้นฐานสำหรับ Input Range ทั้งคู่ */
    input[type="range"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        outline: none;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        background-color: transparent;
        pointer-events: none; /* เพื่อให้คลิกทะลุไปตัวที่อยู่ข้างหลังได้ */
    }
    /* ปุ่มวงกลม (Thumb) */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 18px;
        width: 18px;
        background-color: #ffffff; /* สีขาวตามรูป */
        border-radius: 50%;
        cursor: pointer;
        pointer-events: auto; /* กลับมาให้รับคลิกได้เฉพาะที่ตัวปุ่ม */
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    /* สำหรับ Firefox */
    input[type="range"]::-moz-range-thumb {
        height: 18px;
        width: 18px;
        background-color: #ffffff;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: auto;
    }

    .input-group {
        border-bottom: 1px solid var(--white);
    }

    .price-input {
        color: var(--white);
        border: 0;
        border-bottom: 1px solid var(--white);
        border-radius: 0;
        background-color: transparent;

        &::placeholder {
            color: var(--white);
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    .input-group-text {
        color: var(--white);
        border: 0;
        border-bottom: 1px solid var(--white);
        border-radius: 0;
        background-color: transparent;
    }
}

.nav-panel {
    padding: 15px;

    .btn {
        width: 100%;
        margin-bottom: 15px;
    }

    @include media.media-up(md) {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
        z-index: 9;

        &__group {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 0.5rem;
        }

        .btn {
            width: auto;
            margin-bottom: 0;
        }
    }
}

.scroll-animation {
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 0;
    z-index: 2;
    padding: 10px 10px 110px;
    color: var(--white);
    line-height: 1;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    writing-mode: vertical-lr;
    transition: 0.3s;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 100px;
        background: rgba(255, 255, 255, var(--opacity-light));
    }

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 1px;
        height: 100px;
        background-color: var(--white);
        height: 30px;
        animation: scroll 1.5s ease infinite;
    }

    @include media.media-up(md) {
        bottom: 43px;
    }

    @include media.media-up(lg) {
        bottom: 66px;
    }
}

@keyframes scroll {
    0% {
        transform: translateY(-70px);
    }

    50%, 100% {
        transform: translateY(30px);
    }
}
