@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.news {
    position: relative;

    &__title {
        margin-bottom: 1rem;
        font-size: var(--fs-h2);
    }

    &__date {
        display: block;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: var(--fs-body);
        line-height: 1.4;
        color: var(--black);
    }

    &__figure {
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: auto;
            border-radius: var(--radius-sm);
        }
    }

    &__content {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--neutral-300);
        text-align: justify;
    }

    &__download {
        margin-bottom: 2rem;
    }
}

.related--news {
    padding: 6rem 0;
    /*background-image: linear-gradient(90deg, var(--neutral-200), var(--neutral-100) ) url(/media/images/bg/bg-news.jpg);*/
    background-image: url(/media/images/bg/bg-news.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.video--wrapper {
    position: relative;
    overflow: hidden;

    .breadcrumb {
        a {
            font-weight: 500;
            color: var(--black);
        }
    }

    .video-player-main {
        position: relative;
        overflow: hidden;
        border-radius: var(--radius-sm);
        background-color: var(--white);
    }

    .video-player-list {
        position: relative;
        overflow: hidden;
        padding: 1rem;
        border-radius: var(--radius-sm);
        background-color: var(--white);

        .bg-soft-primary {
            background-color: var(--neutral-300);
            color: var(--black);
        }

        .playing-now {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, var(--opacity-70));
            color: var(--white);
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: var(--radius-sm);
        }

        .text-truncate-2 {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .list-group-item.active h6 {
            color: var(--black);
        }

        .list-group-item:hover:not(.active) {
            background-color: var(--white);
        }
    }

    .video-meta {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: var(--fs-body);
        line-height: 1.4;
        color: var(--black);

        .badge-video {
            min-height: 24px;
            padding: 10px;
            font-size: .875rem;
            color: var(--white);
            background-image: linear-gradient(120deg, var(--clr-primary-dark), var(--clr-primary));
        }
    }
}
