@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.news {
    position: relative;

    &__title {
        margin-bottom: 1rem;
        font-size: var(--fs-h2);
    }

    &__date {
        display: block;
        margin-bottom: 1rem;
        font-weight: 500;
        font-size: var(--fs-body);
        line-height: 1.4;
        color: var(--black);
    }

    &__figure {
        margin-bottom: 1rem;

        img {
            width: 100%;
            height: auto;
            border-radius: var(--radius-sm);
        }
    }

    &__content {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid var(--neutral-300);
        text-align: justify;
    }

    &__download {
        margin-bottom: 2rem;
    }
}

.related--news {
    padding: 6rem 0;
    /*background-image: linear-gradient(90deg, var(--neutral-200), var(--neutral-100) ) url(/media/images/bg/bg-news.jpg);*/
    background-image: url(/media/images/bg/bg-news.jpg);
    background-attachment: fixed;
    background-size: cover;
}
