@use '../abstracts/variables' as vars;
@use '../abstracts/functions' as fn;

.card-deck {
    margin-bottom: 45px;
}

.card {
    border: 0;
    border-radius: 0;
}

.card, .card__figure {
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

/*.card .card__zoom-in {
    overflow: hidden;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.card:hover .card__zoom-in {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
}*/

@each $bp-name, $bp-value in vars.$breakpoints {
    @if $bp-value != null {
        @media (min-width: #{$bp-value}) {
            @each $count in vars.$card-counts {
                .#{"#{vars.$card-deck-prefix}-#{$bp-name}-#{$count}"} {
                    display: grid;
                    grid-template-columns: repeat(#{$count}, 1fr);
                    gap: 30px;
                }
            }
        }
    }
    @else {
        // $bp-name = null
        @each $count in vars.$card-counts {
            .#{"#{vars.$card-deck-prefix}-#{$count}"} {
                display: grid;
                grid-template-columns: repeat(#{$count}, 1fr);
                gap: 30px;
            }
        }
    }
}


