@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixin;

// Headings (h1–h6)
@each $name, $sizes in vars.$font-sizes-heading {
  $lh: map-get(vars.$line-heights, $name);
  @include mixin.generate-typography(
    $name,
    $sizes,
    $lh,
    vars.$font-family,
    700,
    vars.$breakpoints,
    max
  );
}

// Display styles
@each $name, $sizes in vars.$font-sizes-display {
  $lh: map-get(vars.$line-heights, $name);
  @include mixin.generate-typography(
    $name,
    $sizes,
    $lh,
    vars.$font-family,
    700,
    vars.$breakpoints,
    max
  );
}

// Text utilities (.text-body, .text-lead, ...)
@each $name, $sizes in vars.$font-sizes-text {
  $lh: map-get(vars.$line-heights, $name);
  @include mixin.generate-typography(
    'text-#{$name}',
    $sizes,
    $lh,
    vars.$font-family,
    400,
    vars.$breakpoints,
    max
  );
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-weight-normal{
    font-weight: 400 !important;
}

.text--muted {
    color: var(--text-muted)
}

// SAM font size
.title {
    margin: 0;
    line-height: 1.1; /* ฟอนต์ใหญ่ควรใช้ line-height น้อย */
    font-weight: 600;
}

/* Modifiers */
.title--size-display {
    font-size: var(--fs-display);
    letter-spacing: -0.02em; /* ฟอนต์ใหญ่มากควรลดระยะห่างตัวอักษร */
}

.title--size-h1 {
    font-size: var(--fs-h1);
}

.title--size-h2 {
    font-size: var(--fs-h2);
}

.title--content-lg {
    font-size: var(--fs-content-lg);
    line-height: 1.5;
    font-weight: 400; /* Content มักจะใช้ความหนาปกติ */
}

// SAM font color
.title--gradient {
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    line-height: 1.4;
    /* หรือใช้ค่าที่เหมาะสมกับฟอนต์นั้นๆ เช่น 1.5 หรือ 1.6 */
    /* เพิ่ม padding-top/bottom เล็กน้อยเพื่อป้องกันขอบบน-ล่างโดนตัด */
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

/* Modifier: จัดการแค่เรื่องสีพื้นหลัง */
.title--gradient-primary {
    color: var(--color-primary-dark);
    background-image: linear-gradient( 120deg, var(--color-primary-dark) 0%, var(--color-primary-dark) 70%, var(--color-primary) 100% );
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}


