@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.accordion--custom {
    padding: 0;
    margin-bottom: 0;
    border: none;

    .accordion__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 1rem 3rem 1rem 1rem;
        border-radius: 4px;
        background: white;
        transition: background .3s ease-in-out;
        cursor: pointer;

        .accordion__title {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 97%;
            max-width: 97%;
            width: 100%;
            display: inline-flex;
            margin-bottom: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            color: black;
            transition: color .2s ease-in-out;
        }

        .accordion__icon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%);
            color: black;
            font-size: 1rem;
            line-height: 2rem;
            text-align: center;
            width: 35px;
            min-width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: transparent;
            transition: all .3s ease-in-out;
        }

        &:hover {
            .accordion__title {
                color: black;
            }
        }

        &[aria-expanded='true'] {
            border-bottom-color: transparent;

            .accordion__title {
                color: black;
            }

            .accordion__icon {
                transform: translate(0, -50%) rotate(-180deg);
                color: white;
                background-color: black;
            }
        }
    }

    .accordion__content {
        padding: 1rem 1rem 2rem 1rem;
        background-color: transparent;

        .article {
            margin-bottom: 2rem;
        }
    }

    .accordion--item {
        margin-bottom: 10px;
        border: 1px solid black;
        border-radius: 4px;
    }
}

.accordion--consent {
    padding: 0;
    margin-bottom: 0;
    border: none;

    .accordion__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: rgba(vars.$blue, 0.08);
        transition: background .3s ease-in-out;
        cursor: pointer;

        &--control {
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 90%;
            max-width: 90%;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .accordion__title {
            margin-bottom: 0;
            color: vars.$gray;
            transition: color .2s ease-in-out;
        }

        .accordion__icon {
            color: vars.$gray;
            font-size: 1rem;
            line-height: 2rem;
            text-align: center;
            width: 35px;
            min-width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: transparent;
            transition: all .3s ease-in-out;
        }

        &:hover {
            background-color: rgba(vars.$blue, 0.24);

            .accordion__title {
                color: vars.$gray;
            }
        }

        &[aria-expanded='true'] {
            background-color: rgba(vars.$blue, 0.24);
            border-bottom-color: transparent;

            .accordion__title {
                color: vars.$gray;
            }

            .accordion__icon {
                transform: rotate(-180deg);
                color: white;
                background-color: vars.$space-blue;
            }
        }
    }

    .accordion__content {
        padding: 1rem 1rem 2rem 1rem;
        background-color: transparent;

        ul {
            list-style-type: disc;
            list-style-position: outside;
            padding: 0;
            padding-left: 2rem;
            margin: 0;

            li {
                margin-bottom: 10px;
            }
        }
    }

    .accordion--item {
        margin-bottom: 10px;
    }

    .input--switch {
        .input__lock {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 58px;
            height: 32px;
            margin: 0;
            border-radius: 30px;
            background-color: vars.$yellow;

            .bi {
                font-size: 1.25rem;
                line-height: 1.25rem;
            }
        }

        input.switch {
            position: relative;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            display: block !important;
            width: 58px;
            height: 32px;
            margin: 0;
            border-radius: 30px;
            cursor: pointer;
            background: #ccc;
            transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out;
            transition-delay: 0.1s, 0s;
        }

        input.switch:focus {
            border: 0;
            outline: 0;
        }

        input.switch:checked {
            transition-delay: 0s, 0s;
            box-shadow: inset 0 0 0 2.62857em vars.$yellow !important;
            padding-left: 25px;
        }

        input.switch:before {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: 4px;
            background-color: #fff;
            border-radius: 50%;
            transition: all 0.1s ease 0.1s;
        }

        input.switch:before,
        input.switch:after {
            content: "";
            display: block;
        }

        input.switch:active::before {
            transition: all 0.1s ease 0.05s;
        }
    }
}
