@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.section__breadcrumb {
    position: absolute;
    top: 6.875rem;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    z-index: 90;

    .breadcrumb {
        padding: 15px;
        margin: 0;
        background-color: transparent;
    }

    .breadcrumb-item {
        font-size: 1rem;
        line-height: 1.5rem;
        color: black;

        a {
            color: var(--black);
        }

        &.dropdown {
            text-decoration: none;

            .dropdown-toggle {
                color: var(--black);

                &:after {
                    display: none;
                }
            }
        }

        + .breadcrumb-item {
            position: relative;
            padding-left: 20px;

            &:before {
                content: '|';
                position: absolute;
                top: 0;
                left: 5px;
                width: 1px;
                height: 100%;
                padding: 0;
                margin: 0;
            }
        }

        &.active {
            color: black;
            text-transform: uppercase;
        }
    }
}
