@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.breadcrumb--section {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    z-index: 1030;

    &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .breadcrumb {
        padding: 15px 0;
        margin: 0;
        background-color: transparent;
    }

    .breadcrumb-item {
        font-size: 1rem;
        line-height: 1.5rem;
        color: black;

        + .breadcrumb-item {
            position: relative;
            padding-left: 20px;

            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 6px;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                padding: 0;
                margin: 0;
                border-radius: 50%;
                background-color: black;
            }
        }

        &.active {
            color: black;
            text-transform: uppercase;
        }

        &.text-muted {
            color: vars.$gray !important;
        }

        a {
            text-decoration: none;
            position: relative;
            padding: 0;
            font-size: 1rem;
            line-height: 1.5rem;
            color: black;
            text-transform: uppercase;
            transition: all .3s ease-in-out;

            &:hover {
                color: black;
            }
        }
    }

    &__checkout {
        .breadcrumb {
            justify-content: center;
        }

        .breadcrumb-item {
            + .breadcrumb-item {
                padding-left: 2rem;

                &:before {
                    font-family: 'bootstrap-icons' !important;
                    content: '\f138';
                    width: auto;
                    height: auto;
                    border-radius: 0;
                    background-color: transparent;
                }
            }
        }
    }
}
