@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.card--stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border-top: 1px solid var(--neutral-600);

    &__number {
        display: inline-block;
        font-weight: 600;
        font-size: var(--fs-display);
        line-height: 1.1;
        color: var(--black);

        span {
            font-size: var(--fs-h1);
            line-height: 1.1;
        }
    }

    &__label {
        font-weight: 400;
        font-size: var(--fs-body);
        line-height: 1.4;
        color: var(--black);
    }
}

.card--asset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(var(--blur-md));
    -webkit-backdrop-filter: blur(var(--blur-md));
    background-color: rgba(255, 255, 255, var(--opacity-50));
    transition: all var(--transition);

    .card__figure {
        border-radius: 0;
    }

    .card__image {
        width: 100%;
        aspect-ratio: 7 / 3; /* กำหนดตามค่าที่คำนวณได้ */
        object-fit: cover;
        transition: all var(--transition);
    }

    .card__badge {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--clr-primary-dark);
        color: white;
        padding: 5px 10px;
        font-size: 0.875rem;
        /*border-start-start-radius: 4px;
        border-end-end-radius: 4px;*/
        /* สีตามสถานะ */
        &--direct {
            background-color: var(--clr-primary-dark);
        }

        &--auction {
            color: #4b3621;
            background-color: var(--clr-accent-yellow);
        }

        &--waiting {
            background-color: var(--clr-accent-pink);
        }
    }

    .card__body {
        position: relative;
        margin-top: 4rem;
    }

    .card__type {
        font-weight: 600;
        font-size: var(--fs-small);
        color: var(--black);
    }

    .card__location {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 10px auto;

        &-icon {
            color: var(--black);

            .icon {
                /* กำหนดขนาด */
                width: 1.5rem;
                height: 1.5rem;
            }
        }

        &-text {
            font-size: var(--fs-small);
            color: var(--text-muted);
        }
    }

    .card__price {
        font-size: var(--fs-h2);
        font-weight: 600;
        line-height: 1.2;
        color: var(--clr-primary-dark);
    }

    &:hover {
        /*box-shadow: var(--shadow-md);
        transform: scale(1.01);
        -webkit-transform: scale(1.01);*/
        .card__image {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
    }
}

.card--type {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(var(--blur-md));
    -webkit-backdrop-filter: blur(var(--blur-md));
    background-color: rgba(0, 0, 0, var(--opacity-50));
    transition: all var(--transition);

    .card__figure {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: var(--neutral-100);
    }

    .card__image {
        width: 100%;
        aspect-ratio: 1 / 1; /* กำหนดตามค่าที่คำนวณได้ */
        object-fit: cover;
    }

    .card__type {
        font-size: var(--fs-h3);
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: -0.02em;
        color: var(--neutral-100);
        text-align: center;
    }

    .card__body {
        position: relative;
        margin-top: 4rem;
    }

    .card__count {
        font-size: var(--fs-h2);
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--neutral-100);
        text-align: center;
    }

    .card__unit {
        font-size: var(--fs-body);
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.02em;
        color: var(--neutral-100);
        text-align: center;
    }

    &:hover {
        /*box-shadow: var(--shadow-md);
        transform: scale(1.01);
        -webkit-transform: scale(1.01);*/
    }
}

.card--news {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border-radius: var(--radius-sm);
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(var(--blur-md));
    -webkit-backdrop-filter: blur(var(--blur-md));
    background-color: rgba(255, 255, 255, var(--opacity-50));
    transition: all var(--transition);

    .card__figure {
        margin-bottom: 15px;
        border-radius: 0;
    }

    .card__image {
        width: 100%;
        aspect-ratio: 3 / 2; /* กำหนดตามค่าที่คำนวณได้ */
        object-fit: cover;
        transition: all var(--transition);
    }
    /*.card__figure {
        margin-bottom: 15px;
        border-radius: var(--radius-sm);
    }*/
    /*.card__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all var(--transition);
    }*/

    .card__badge {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--clr-primary-dark);
        color: white;
        padding: 5px 10px;
        font-size: 0.875rem;
        border-start-start-radius: 8px;
        border-end-end-radius: 8px;
    }

    .card__video-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: var(--radius-circle);
        color: white;
        padding: 5px 10px;
    }

    .card__body {
        position: relative;
        overflow: hidden;
    }

    .card__title {
        /*padding: 1rem 0 0 0;*/
        margin-bottom: 1rem;
        /*border-top: 1px solid var(--neutral-600);*/
        font-weight: 400;
        font-size: var(--fs-body);
        line-height: 1.4;
        color: black;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        overflow: hidden;
    }

    .card__date {
        display: block;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.4;
        color: var(--clr-primary-dark);
    }
    /*.card__tag {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;

        a {
            color: black;
            background-color: #f5f5f5;
            padding: 4px 10px;
            border-radius: 4px;
            font-size: 0.85rem;
            text-decoration: none;
        }

        a:hover {
            background-color: black;
            color: white;
        }
    }*/

    &:hover {
        .card__image {
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
        }
    }
}

/* Container สำหรับรูปที่ลอยตามเมาส์ */
.hover-reveal {
    position: fixed;
    /*width: 300px;
    height: 200px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    top: 0;
    left: 0;
    pointer-events: none; /* สำคัญมาก: ห้ามรับ event เพื่อไม่ให้ขัดขวางการคลิก Link */
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    overflow: hidden;
    border-radius: var(--radius-circle);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.1s ease-out;
    opacity: 0;
    visibility: hidden;
    background: transparent; /* เปลี่ยนเป็นใสไว้ก่อน */
    box-shadow: none; /* ปิดเงาเป็นค่าเริ่มต้น */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    /*&__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.1);
        transition: transform 0.5s ease;
    }*/

    &.active {
        background-color: rgba(0, 0, 0, var(--opacity-70));
        box-shadow: var(--shadow-sm); /* แสดงเงาเฉพาะตอน active */
        /*.hover-reveal__img {
            transform: scale(1);
        }*/
    }
}

.preview-text {
    color: var(--white); /* สีตัวอักษร */
    font-size: var(--fs-small);
    font-weight: 500;
    white-space: nowrap;
}

.hover-reveal__img:not([src]),
.hover-reveal__img[src=""] {
    display: none;
}