@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.card--stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border-top: 1px solid var(--light);

    &__number {
        margin-bottom: 0;
        font-weight: 700;
        font-size: var(--fs-display);
        line-height: 1.6;
        color: var(--black);
    }

    &__label {
        margin-bottom: 0;
        font-weight: 400;
        font-size: var(--fs-content-lg);
        line-height: 1.2;
        color: var(--black);
    }
}

.card--asset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(var(--blur-intensity));
    -webkit-backdrop-filter: blur(var(--blur-intensity));
    background-color: rgba(255, 255, 255, var(--opacity-medium));
    transition: all 0.3s ease-in-out;

    .card__figure {
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    .card__image {
        width: 100%;
        aspect-ratio: 34 / 15; /* กำหนดตามค่าที่คำนวณได้ */
        object-fit: cover;
    }

    .card__badge {
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-primary-dark);
        color: white;
        padding: 5px 10px;
        font-size: 0.875rem;
        border-start-start-radius: 4px;
        border-end-end-radius: 4px;
        /* สีตามสถานะ */
        &.badge--direct {
            background-color: var(--color-primary-dark);
        }

        &.badge--auction {
            color: #4b3621;
            background-color: var(--color-accent-yellow);
        }

        &.badge--waiting {
            background-color: var(--color-accent-pink);
        }
    }

    .card__body {
        position: relative;
        margin-top: 4rem;
    }

    .card__location {
        display: flex;
        align-items: center;
        gap: 10px;

        &-icon {
            font-size: var(--fs-content-lg);
            color: var(--black);
        }

        &-text {
            font-size: var(--fs-content-md);
            color: var(--text-muted);
        }
    }

    .card__price {
        font-size: var(--fs-h2);
        font-weight: 600;
        color: var(--color-primary-dark);
    }

    &:hover {
        box-shadow: var(--shadow-md);
    }
}

.card--asset-type {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(var(--blur-intensity));
    -webkit-backdrop-filter: blur(var(--blur-intensity));
    background-color: rgba(0, 0, 0, var(--opacity-light));
    transition: all 0.3s ease-in-out;

    .card__figure {
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }

    .card__image {
        width: 100%;
        aspect-ratio: 1 / 1; /* กำหนดตามค่าที่คำนวณได้ */
        object-fit: cover;
    }

    .card__type {
        font-size: var(--fs-h3);
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: -0.02em;
        color: var(--white);
        text-align: center;
    }

    .card__body {
        position: relative;
        margin-top: 4rem;
    }

    .card__count {
        font-size: var(--fs-h2);
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.02em;
        color: var(--white);
        text-align: center;
    }

    .card__unit {
        font-size: var(--fs-content-lg);
        font-weight: 400;
        line-height: 1.4;
        letter-spacing: -0.02em;
        color: var(--white);
        text-align: center;
    }
}

.card--product {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &__picture {
        position: relative;
        max-width: 90%;
        margin: 0 auto 10px auto;
        overflow: hidden;
        /*transform: scale(0.95);*/
        transition: all 0.3s ease-in-out;
    }

    &__image {
        aspect-ratio: 1 / 1;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__body {
        position: relative;
        width: 100%;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    &__brand {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        color: black;
        text-transform: uppercase;
        text-decoration: underline;
    }

    &__name {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
        color: black;
        text-align: center;
    }

    &__stock {
        margin-top: 5px;
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: black;
        text-align: center;
    }

    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 1.5rem;
        margin-bottom: 0;
        color: black;
        text-align: center;

        .price--normal {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5rem;
            color: black;
        }

        .price--sale {
            font-weight: 600;
            font-size: 1rem;
            line-height: 1.5rem;
            color: vars.$red
        }

        .price--old {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: vars.$gray;
        }

        .price-label {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            color: black;
        }
    }

    &__button {
        /*position: relative;
        width: 100%;
        height: auto;
        padding-bottom: 40px;
        overflow: hidden;*/

        .btn {
            position: absolute;
            bottom: -100%;
            right: 0;
            transition: all 0.3s ease-in-out;
        }
    }

    &:hover {
        .card--product__button {
            .btn {
                bottom: 0;
            }
        }
    }

    &.is-out-of-stock {
        opacity: 0.5;
        pointer-events: none;
        filter: grayscale(0.5);
    }

    .product-badges {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        display: flex;
        gap: 0.5rem;
        flex-direction: column;

        .badge {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 70px;
            width: auto;
            height: 2rem;
            padding: 0.25rem;
            font-weight: 400;
            font-size: 0.875rem;
            border-radius: 4px;

            &.new {
                color: white;
                background-color: black;
            }

            &.sale {
                color: white;
                background-color: vars.$red;
            }

            &.soldout {
                color: white;
                background-color: vars.$light-gray;
            }
        }
    }
}

.card--category {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s ease-in-out;

    &__picture {
        position: relative;
        margin-bottom: 1rem;
        border-radius: 4px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }

    &__body {
        position: relative;
        width: 100%;
        overflow: hidden;

        @media (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
    }

    &__title {
        display: block;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        color: black;

        @media (min-width: 1200px) {
            margin-bottom: 0;
        }
    }

    &__button {
        margin-top: 10px;
    }

    &:hover {
        /*opacity: 1 !important;*/

        .card--category__image {
            transform: scale(1.05);
        }
    }
}

.card--shop {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: transparent;

    &__picture {
        width: 40px; /* Set a specific width */
        flex: initial; /* Allows shrinking, but respects initial width */
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }

    &__body {
        flex: 1;
        text-align: center;
    }

    &__title {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        color: black;
    }

    &__text {
        margin-bottom: 0;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.25rem;
        color: black;
    }

    @include media.media-up(lg) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        &__body {
            text-align: start;
        }
    }
}

.card--news {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    transition: all 0.3s ease-in-out;

    &__picture {
        position: relative;
        margin-bottom: 10px;
        border-radius: 4px;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
    }

    &__body {
        position: relative;
        overflow: hidden;
    }

    &__title {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        color: black;
    }

    &__date {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 0.875rem;
        color: vars.$gray;
    }

    &__button {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: auto;
        padding-top: 20px;
        overflow: hidden;

        .btn {
            position: absolute;
            bottom: -100%;
            right: 0;
            transition: all 0.3s ease-in-out;
        }
    }

    &__tag {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;

        a {
            color: black;
            background-color: #f5f5f5;
            padding: 4px 10px;
            border-radius: 4px;
            font-size: 0.85rem;
            text-decoration: none;
        }

        a:hover {
            background-color: black;
            color: white;
        }
    }

    &:hover {
        .card--news__image {
            transform: scale(1.05);
        }

        .card--news__button {
            .btn {
                bottom: 0;
            }
        }
    }

    @media (min-width: 1200px) {
        &__button {
            padding-right: 50px;
        }
    }
}

.card--store {
    border-radius: 4px;
    border: 1px solid vars.$light-gray;
    transition: all 0.3s ease;
    height: 100%;
    background: white;

    &:hover {
        border-color: black;
        box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    }

    .store-name {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        letter-spacing: 1px;
        border-bottom: 2px solid black;
        display: inline-block;
        margin-bottom: 1.5rem;
    }

    .info-label {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1rem;
        color: black;
        margin-bottom: 5px;
    }

    .info-value {
        font-size: 0.875rem;
        color: black;
        margin-bottom: 1.2rem;
        line-height: 1.6;
    }
}
