@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.dropdown--filter {
    &.dropdown {
        position: relative;
        display: block;
        text-align: left;
        min-width: 11rem;
        border-bottom: 1px solid var(--neutral-600);

        .dropdown-menu {
            border: none;
            border-radius: 0.5rem;
            box-shadow: 0 10px 30px rgba(0,0,0,0.2);
            margin-top: 8px !important;
            padding: 8px;
        }

        .dropdown-item {
            border-radius: 8px;
            padding: 10px 15px;
        }

        .dropdown-item:hover {
            background-color: var(--neutral-150);
        }

        .dropdown-item.active, .dropdown-item:active {
            color: var(--neutral-700);
            text-decoration: none;
            background-color: var(--neutral-150);
        }
        /* หมุนไอคอน */
        .transition-icon {
            transition: transform var(--transition);
        }

        .show .transition-icon {
            transform: rotate(180deg);
        }

        .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
            color: var(--neutral-700);
            box-shadow: none;
        }
    }

    .btn--dropdown {
        background: transparent;
        border: none;
        color: var(--neutral-700);
        padding: 10px 0 !important;
        border-radius: 0 !important;

        &:active {
            color: var(--neutral-700);
            box-shadow: none;
        }

        &:focus, &:focus-visible {
            color: var(--neutral-700);
            box-shadow: none;
        }

        &:hover {
            color: var(--neutral-700);
            box-shadow: none;
        }

        &.show {
            color: var(--neutral-700);
            box-shadow: none;
        }
    }
}
