@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.form-label {
    margin: 0;
    color: var(--neutral-700);
}

.select {
    &__input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        width: 100%;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        color: var(--neutral-700);
        cursor: pointer;

        &::-ms-expand {
            display: none
        }

        &:hover, &:focus, &:focus-visible, &:active {
            outline: none
        }
    }
}

.search {
    color: var(--neutral-700);

    &::placeholder {
        color: var(--neutral-700);
    }

    &__input {
        border: none;
        color: var(--neutral-700);

        &:hover, &:focus, &:focus-visible, &:active {
            outline: none
        }
    }
}

.form-group .form-control {
    background-color: rgba(255,255,255,.3);
    border: none;
    border-radius: 0;
    border: 1px solid rgba(158,158,158,.3);
    border-radius: 0;
    padding: .5rem .875rem;
    color: #252525
}

@media(max-width: 767.98px) {
    .form-group .form-control {
        padding: .5rem .875rem
    }
}

.form-group .form-control::placeholder {
    color: #252525
}

.form-group .form-control:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s
}

.form-group .form-control:hover, .form-group .form-control:focus, .form-group .form-control:focus-visible, .form-group .form-control:active {
    box-shadow: none;
    outline: none
}

.form-check {
    display: flex;
    align-items: center;
    gap: .75rem;
    min-height: unset;
    padding: 0;
    margin: 0;

    .form-check-label {
        font-size: var(--fs-small);
        color: var(--neutral-700);
    }
}

.form-check .form-check-input {
    position: relative;
    width: 28px;
    min-width: 28px;
    height: 28px;
    background-color: rgba(255,255,255,.3);
    border: 1px solid rgba(158,158,158,.3);
    border-radius: var(--radius-circle);
    margin: 0;
    background-color: rgba(255,255,255,.3);
    cursor: pointer;
    transition: all .4s ease-in-out
}

.form-check .form-check-input:checked {
    background-color: var(--clr-primary-dark);
}

.form-check .form-check-input:checked::before {
    opacity: 1
}

.form-check .form-check-input:hover, .form-check .form-check-input:focus, .form-check .form-check-input:focus-visible, .form-check .form-check-input:active {
    box-shadow: none;
    filter: unset
}

/*.form-check .form-check-input::before {
    position: absolute;
    inset: 0;
    font-family: "bootstrap-icons" !important;
    speak: never;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-weight: 300;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    content: "\F26E";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    opacity: 0;
    transition: all .4s ease-in-out
}

.form-check .form-check-input:checked {
    background-color: #6cbf4d
}

.form-check .form-check-input:checked::before {
    opacity: 1
}

.form-check .form-check-input:hover, .form-check .form-check-input:focus, .form-check .form-check-input:focus-visible, .form-check .form-check-input:active {
    background-image: none;
    box-shadow: none;
    filter: unset
}*/

.form {
    position: relative;

    &.form--filter {
        margin: 0 0 2rem 0;

        .select {
            position: relative;
            width: fit-content;

            &::before {
                position: absolute;
                inset: 0 0 0 auto;
                font-family: "bootstrap-icons";
                font-weight: 300;
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;
                content: "\F282";
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .625rem;
                color: var(--neutral-700);
                pointer-events: none
            }

            &__input {
                min-height: 45px;
                min-width: 125px;
                padding: 0;
                border-bottom: 1px solid var(--neutral-700);

                option {
                    padding: 0.25rem;
                }
            }

            @include media.media-down(md) {
                width: 100%
            }
        }

        .search {
            position: relative;
            width: fit-content;

            @include media.media-up(md) {
                width: 267px;
            }

            &__input {
                min-height: 45px;
                width: 100%;
                min-width: 267px;
                padding: 0 2.5rem 0 0;
                border-bottom: 1px solid var(--neutral-700);
                background-color: transparent;
            }

            &__icon {
                position: absolute;
                top: 50%;
                right: 1rem;
                padding: 0;
                border: 0;
                background: transparent;
                appearance: none;
                color: var(--neutral-700);
                display: flex;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }
        }

        .form-group {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 0
        }
    }
}

.price-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #e5e5e5;
    outline: none;
    margin: 15px 0;
}

.price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #000;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.price-slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background: #fff; 
}

.price-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #000;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
