@use "../abstracts/variables" as vars;

.form-group{
    label{
        font-size: 1rem;

        a{
            color: vars.$blue;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}
.form--control {
    min-height: 42px;
    font-size: 0.875rem;
    border-color: vars.$light-gray;
    border-radius: 4px;

    &:disabled {
        background-color: #f5f5f5;
    }

    &:focus {
        border-color: #000;
        box-shadow: none;
    }
}

.form--select {
    min-height: 42px;
    font-size: 0.875rem;
    border-color: vars.$light-gray;
    border-radius: 4px;

    &:disabled {
        background-color: #f5f5f5;
    }

    &:focus {
        border-color: #000;
        box-shadow: none;
    }
}

.fund--select {
    .bootstrap-select {
        padding-top: 0;
        padding-bottom: 0;

        .dropdown-menu {
            top: 100% !important;
            left: 0 !important;
            right: auto !important;
            transform: none !important;

            li {
                a {
                    padding: 4px 8px;
                }
            }
        }
    }

    .bootstrap-select > .dropdown-toggle {
        font-weight: 400;
        font-size: 1rem;
        background-color: transparent;

        &:after {
            display: none;
        }

        &:focus {
            outline: none !important;
            outline: none !important;
            outline-offset: -2px;
        }

        .filter-option {
            height: auto;
        }
    }

    .bs-searchbox {
        .form-control {
            border-color: vars.$light-gray;
            border-radius: 8px;
            min-height: 45px;
        }
    }

    .filter--label {
        display: block;
        margin-bottom: 4px;
        font-size: .9rem;
    }
}

.custom--inputfile {
    .custom-button {
        padding: 10px;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        color: white;
        background-color: black;
        border: 1px solid black;
        border-radius: 0.5rem;
        cursor: pointer;

        &:hover {
            border-color: black;
            background-color: rgba(black, 0.9);
        }
    }

    .custom-text {
        margin-left: 10px;
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.5rem;
        color: vars.$gray;
    }
}

/* Custom radio buttons */
/*input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    font-size: 1rem;
    gap: 10px;

    &:before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        margin-right: 14px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #b5b5b5;
        background-color: white;
        border-radius: 50%;
    }
}

input[type="radio"] {
    display: none !important;
    *display: inline;

    &:checked + label:after {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: vars.$blue;
    }

    &:disabled + label {
        opacity: 0.5;
        cursor: default;
    }

    &:disabled + label:after {
        background: #b5b5b5;
    }
}*/
/* End Custom radio buttons */

/* Custom checkbox */
/*input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-right: 15px;
    font-size: 1rem;

    &:before {
        content: "";
        display: block;
        width: 22px;
        height: 22px;
        margin-right: 14px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid #b5b5b5;
        background-color: white;
        border-radius: 5px;
    }
}

input[type="checkbox"] {
    display: none !important;
    *display: inline;

    &:checked + label:after {
        font-family: 'bootstrap-icons';
        content: '\F26E';
        font-size: 1.5rem;
        line-height: 22px;
        color: vars.$blue;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 22px;
        height: 22px;
        border-radius: 0.25rem;
    }
}*/
/* End Custom checkbox */

.input-group {
    margin-bottom: 1rem;
}

.input-group-append {
    .input-group-text {
        background-color: #f5f5f5;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        padding: .5rem .75rem;
        border-color: #b5b5b5;
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
}

.price-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #e5e5e5;
    outline: none;
    margin: 15px 0;
}

.price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #000;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.price-slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background: #fff; 
}

.price-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #000;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
