@use "../abstracts/variables" as vars;

.form-group{
    label{
        font-size: 1rem;

        a{
            color: vars.$blue;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.form-control {
    font-weight: 400;
    font-size: var(--fs-body);
    line-height: 1.4;
}

.input-group {
    margin-bottom: 1rem;
}

.input-group-append {
    .input-group-text {
        background-color: #f5f5f5;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        padding: .5rem .75rem;
        border-color: #b5b5b5;
        border-start-start-radius: 0;
        border-end-start-radius: 0;
    }
}

.price-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #e5e5e5;
    outline: none;
    margin: 15px 0;
}

.price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #000;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.price-slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    background: #fff; 
}

.price-slider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #000;
    border: 2px solid #000;
    border-radius: 50%;
    cursor: pointer;
}
