@use '../abstracts/variables' as vars;

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(26, 26, 26, 0.95);
    z-index: 1000;
    animation: fadeOut 2s ease 2s forwards;
    z-index: 9999;
}

.spinner {
    width: 60px;
    height: 60px;
    border: 6px solid vars.$light-gray;
    border-top-color: vars.$blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 1rem;
}

.loading-text {
    color: #aaa;
    font-size: 1.2rem;
    opacity: 0;
    animation: fadeInOut 2s ease-in-out infinite;
}

/* Animations */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
        pointer-events: none;
        display: none;
    }
}


