@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;


.modal {
    z-index: 10002;
}

.modal-backdrop {
    z-index: 10001;
}

.modal--custom {
    .modal-content {
        backdrop-filter: blur(var(--blur-md));
        -webkit-backdrop-filter: blur(var(--blur-md));
        background-color: rgba(0, 0, 0, var(--opacity-50));
        border-radius: 0;
        box-shadow: var(--shadow-sm);
    }

    .modal-header {
        position: relative;
        width: 100%;
        min-height: 60px;
        padding: 15px 60px 15px 15px;
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .modal-title {
            margin-bottom: 0;
            font-weight: 700;
            font-size: 2rem;
        }

        .modal-subtitle {
            margin-bottom: 0;
            font-weight: 400;
            font-size: 1.5rem;
        }

        .close {
            position: absolute;
            top: -3.25rem;
            right: -1.5rem;
            margin: auto;
            width: 3rem;
            height: 3rem;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: 0;
            border-radius: var(--radius-circle);
            font-size: 2rem;
            color: var(--black);
            background-color: var(--white);
            opacity: 1;
        }
    }

    .modal-body {
        .content {
            display: block;
            max-height: 36.25rem;
            padding-right: 1rem;
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5rem;
            color: black;
            overflow-y: auto;

            ul {
                li {
                    margin-bottom: 0.5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar {
                width: 6px;
                background-color: #F5F5F5;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #000000;
            }
        }
    }
}


