.offcanvas.offcanvas-start {
    width: 520px;
    max-width: 100%;
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1) !important;
    border-right: none;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.1);

    &.hiding {
        transition: transform 0.4s ease-in !important;
    }

    .offcanvas-header {
        justify-content: space-between;
    }

    .offcanvas-body {
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 4px;
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.2);
            border: 2px solid var(--neutral-100);
            border-radius: 10px;
        }
    }

    .offcanvas-footer {
        background-color: transparent !important;
        padding: 20px;
    }
}

/* ปรับแต่ง Backdrop (พื้นหลังดำ) ให้ค่อยๆ Fade นุ่มๆ */
.offcanvas-backdrop {
    transition: opacity 0.5s ease !important;
}

.offcanvas {
    transition-duration: 2s !important; /* ลองใส่ 2 วินาทีเพื่อดูทิศทาง */
}
