@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

//Hero Slide
.hero-slide {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;

    &__picture {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all .3s ease-in-out;
    }

    &__text-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        pointer-events: none;

        @include media.media-up(md) {
            justify-content: flex-start;
            align-items: flex-end;
        }
    }

    &__text {
        position: relative;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 57.6rem;
        word-wrap: break-word;

        &-heading {
            margin-bottom: 0;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2rem;
            color: white;
        }

        &-button {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 1rem;
            max-width: 45rem;
            margin-top: 1rem;
            word-break: break-word;

            a {
                display: block;
                pointer-events: auto;
            }
        }

        @include media.media-down(sm) {
            margin-bottom: 60px;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        width: auto !important;

        .swiper-pagination-bullet {
            position: relative;
            width: 16px;
            height: 16px;
            border-radius: 0.5rem;
            border: 1px solid var(--white);
            background-color: rgba(0, 0, 0, var(--opacity-medium));
            transition: all .2s ease-in-out;
            opacity: 1;
        }

        .swiper-pagination-bullet-active {
            width: 16px;
            height: 64px;
        }
    }
}

.hero-slide__controls {
    position: absolute;
    left: 15px;
    bottom: 15px;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 10;
    pointer-events: none; /* กันไม่ให้บัง swipe */

    @include media.media-up(md) {
        left: auto;
        right: 15px;
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
    }
}

/* enable click */
.hero-slide__controls > * {
    pointer-events: auto;
}

