@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > tr > td.dt-ordering-asc span.dt-column-order:before {
    content: '\F286' !important;
    font-family: "bootstrap-icons" !important;
    bottom: 55% !important;
}

table.dataTable thead > tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > th.dt-ordering-desc span.dt-column-order:after, table.dataTable thead > tr > td.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > tr > td.dt-ordering-desc span.dt-column-order:after {
    content: '\F282' !important;
    font-family: "bootstrap-icons" !important;
    top: 55% !important;
}

table.dataTable > tbody > tr.child ul.dtr-details{
    width: 100%;
}

table.dataTable > tbody > tr.child span.dtr-title{
    font-weight: 400 !important;
    margin-right: 10px;
}

table.dataTable {
    thead {
        th {
            padding: 0.75rem 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            vertical-align: middle;
            background-color: #ebf8fd !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;

            a {
                color: vars.$gray;

                &:hover {
                    color: vars.$blue;
                }
            }
        }
    }

    tr.dtrg-group {
        th {
            padding: 1.25rem;
            box-shadow: none !important;
            background-color: rgba(vars.$blue, 0.08) !important;
        }
    }
}
table.dataTable.table-striped tr.dtrg-level-0 {
    background-color: transparent !important;

    th {
        padding: 1rem 1.25rem;
        font-size: 1.25rem;
        color: vars.$blue;
    }
}
table.table.dataTable.table-striped > tbody > tr:nth-of-type(2n+1) > * {
    box-shadow: none !important;
}

table.table.dataTable{
    margin-bottom: 1rem !important;
}

.dt-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include media.media-up(md) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .dt-buttons {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
}

.dt-paging {
    .pagination{
        margin-bottom: 0;
    }

    .page-link {
        color: vars.$blue;
    }

    .page-link.active, .active > .page-link {
        color: white;
        border-color: vars.$blue;
        background-color: vars.$blue;
    }

    .page-link.disabled, .disabled > .page-link {
        color: vars.$light-gray;
    }
}

table {
    .fund--code {
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .fund--name {
        font-weight: 300;
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

.table--primary {
    thead {
        th {
            padding: 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: #ebf8fd !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;

            a {
                color: vars.$gray;

                &:hover {
                    color: vars.$blue;
                }

                &.download--link-icon {
                    font-size: 1.25rem;
                    line-height: 1.25rem;

                    &.pdf-icon {
                        color: vars.$red;

                        &:hover {
                            color: vars.$blue;
                        }
                    }
                }
            }
        }
    }

    tfoot {
        th {
            padding: 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: rgba(vars.$blue, 0.08) !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }
}

.table--calculator {
    thead {
        th {
            text-align: center;
            padding: 0.75rem 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: #ebf8fd !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;

            &:last-child {
                text-align: right;
            }
        }
    }

    .td--label {
        display: none
    }

    @media screen and (max-width: 767.98px) {
        thead {
            display: none;
        }

        tbody {
            td {
                display: block;
                text-align: left;
                border-bottom: none;

                &:last-child {
                    text-align: left;
                    border-bottom: 1px solid #b5b5b5;
                }
            }
        }

        .td--label {
            display: inline-block;
            margin-right: 10px;
            font-weight: 400;
            font-size: 1.125rem;
        }
    }
}

.table--compare {
    thead {
        th {
            vertical-align: middle;
            padding: 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            text-align: center;
            background-color: #ebf8fd !important;

            &:first-child {
                width: 300px;
            }

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;
            background-color: #ebf8fd !important;

            &:not(:first-child) {
                background-color: white !important;
            }
        }
    }

    tfoot {
        th {
            padding: 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: rgba(vars.$blue, 0.08) !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }
}

.table--dividend {
    thead {
        th {
            width: 33.3333%;
            vertical-align: middle;
            padding: 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            text-align: center;
            background-color: #ebf8fd !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;

            &:not(:last-child) {
                text-align: center;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    tfoot {
        th {
            padding: 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: rgba(vars.$blue, 0.08) !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }
}

.table--education {
    thead {
        th {
            padding: 0.75rem 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: #ebf8fd !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;

            &.bg-light-blue {
                font-weight: 400;
                background-color: #ebf8fd !important;
            }
        }
    }
}

.table--family {
    thead {
        th {
            padding: 0.75rem 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: #ebf8fd !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;
        }
    }
}

.table--languages {
    thead {
        th {
            padding: 0.75rem 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: #ebf8fd !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;

            &.bg-light-blue {
                font-weight: 400;
                background-color: #ebf8fd !important;
            }

            .form-group {
                padding-bottom: 5px;
                border-bottom: 1px dotted #b5b5b5;

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }
            }
        }
    }
}

.table--performance {
    thead {
        th {
            vertical-align: middle;
            padding: 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            text-align: center;
            background-color: #ebf8fd !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;

            &:not(:first-child) {
                text-align: right;
            }
        }
    }

    tfoot {
        th {
            padding: 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: rgba(vars.$blue, 0.08) !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }
}

.table--salepage {
    &__primary {
        thead {
            th {
                padding: 1.25rem;
                font-weight: 400;
                font-size: 1.125rem;
                text-align: center;
                background-color: #ebf8fd !important;
            }
        }

        tbody {
            tr {
                &:nth-child(3n+1) {
                    /* CSS properties to apply */
                    td {
                        font-weight: bold;
                        font-size: 1.5rem;
                        color: vars.$blue;
                        background-color: #ebf8fd;
                    }
                }

                &:nth-child(3n) {
                    /* CSS properties to apply */
                    td {
                        background-color: #f9f9f9 !important;
                    }
                }
            }

            td {
                padding: 0.75rem 1.25rem;
                vertical-align: text-top;
                font-weight: 300;
                font-size: 1rem;

                &:not(:first-child) {
                    text-align: center;
                }
            }
        }
    }

    &__secondary {
        thead {
            th {
                padding: 1.25rem;
                font-weight: 400;
                font-size: 1.125rem;
                color: white;
                text-align: center;
                background-color: vars.$blue !important;
            }
        }

        tbody {
            td {
                padding: 0.75rem 1.25rem;
                vertical-align: text-top;
                font-weight: 300;
                font-size: 1rem;
                text-align: center;

                &:first-child {
                    background-color: #ebf8fd;
                }
            }
        }
    }
}

.table--assessment {
    thead {
        th {
            padding: 0.75rem 1.25rem;
            font-weight: 700;
            font-size: 1rem;
            background-color: #ebf8fd !important;

            &.bg-blue {
                background-color: vars.$blue !important;
            }
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: #f9f9f9 !important;
                }
            }
        }

        td {
            padding: 0.75rem 1.25rem;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;

            &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                text-align: center;
            }
        }
    }
}

.table--borderless {
    thead {
        th {
            padding: 1.25rem 0;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: transparent !important;
        }
    }

    tbody {
        tr {
            &:hover {
                td {
                    background-color: transparent !important;
                }
            }
        }

        td {
            padding: 0.75rem 0;
            vertical-align: text-top;
            font-weight: 300;
            font-size: 1rem;
            background-color: transparent !important;
        }
    }

    tfoot {
        th {
            padding: 1.25rem;
            font-weight: 400;
            font-size: 1.125rem;
            background-color: rgba(vars.$blue, 0.08) !important;
        }
    }

    /*@include media.media-down(md) {
        min-width: 150%;
    }*/
}


