@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.tabs--primary {
    .nav-tabs {
        border: none;
        margin-bottom: 1rem;

        .nav-item {
            .nav-link {
                width: 100%;
                height: 100%;
                padding: 1.5rem;
                font-weight: 400;
                font-size: 1.25rem;
                line-height: 1.5rem;
                color: black;
                background-color: white;
                border-radius: 0;
                border: 1px solid #b5b5b5;
                border-right: 0;

                &.active {
                    color: white;
                    background-color: vars.$blue;
                    border-color: vars.$blue;
                }
            }

            &:first-child {
                .nav-link {
                    border-start-start-radius: 0.5rem;
                    border-end-start-radius: 0.5rem;
                }
            }

            &:last-child {
                .nav-link {
                    border-start-end-radius: 0.5rem;
                    border-end-end-radius: 0.5rem;
                    border-right: 1px solid #b5b5b5;

                    &.active {
                        border-color: vars.$blue;
                    }
                }
            }
        }
    }

    .tab-content{
        padding: 30px 15px;
        border-radius: 0.5rem;
        background-color: white;
    }
}

.sam-tabs {
    &.nav-pills {
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    &__link.nav-link {
        color: var(--white);
        border-radius: 0.5rem;
        backdrop-filter: blur(var(--blur-intensity));
        -webkit-backdrop-filter: blur(var(--blur-intensity));
        background-color: rgba(0, 0, 0, var(--opacity-medium));
        transition: all 0.3s ease-in-out;

        &.active {
            color: var(--black);
            background-color: var(--white); /* สีเขียว SAM */
        }

        &:hover {
            color: var(--black);
            background-color: var(--white);
        }
    }

    &--primary {
        .sam-tabs__link.nav-link {
            color: var(--white);
            border-radius: 0.5rem;
            backdrop-filter: blur(var(--blur-intensity));
            -webkit-backdrop-filter: blur(var(--blur-intensity));
            background-color: rgba(0, 0, 0, var(--opacity-medium));

            &.active {
                color: var(--white);
                background-color: var(--color-primary-dark); /* สีเขียว SAM */
                background-image: var(--grad-green);
                background-size: 300% 100%;
            }

            &:hover {
                color: var(--white);
                background-color: var(--color-primary-dark); /* สีเขียว SAM */
                background-image: var(--grad-green);
                background-size: 300% 100%;
            }
        }
    }
}