@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as media;

.sam-tabs {
    &.nav-pills {
        gap: 0.5rem;
        margin-bottom: 1.5rem;
    }

    &__link.nav-link {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--neutral-100);
        font-size: var(--fs-body);
        line-height: 1.4;
        border-radius: 0.5rem;
        backdrop-filter: blur(var(--blur-md));
        -webkit-backdrop-filter: blur(var(--blur-md));
        background-color: rgba(0, 0, 0, var(--opacity-50));
        transition: all 0.3s ease-in-out;

        &.active {
            color: var(--black);
            background-color: var(--neutral-100); /* สีเขียว SAM */
        }

        &:hover {
            color: var(--black);
            background-color: var(--neutral-100);
        }
    }

    &--primary {
        .sam-tabs__link.nav-link {
            color: var(--neutral-100);
            font-size: var(--fs-body);
            line-height: 1.4;
            border-radius: 0.5rem;
            backdrop-filter: blur(var(--blur-md));
            -webkit-backdrop-filter: blur(var(--blur-md));
            background-color: rgba(0, 0, 0, var(--opacity-50));

            &.active {
                color: var(--neutral-100);
                background-color: var(--clr-primary-dark); /* สีเขียว SAM */
                background-image: var(--grad-green);
                background-size: 300% 100%;
            }

            &:hover {
                color: var(--neutral-100);
                background-color: var(--clr-primary-dark); /* สีเขียว SAM */
                background-image: var(--grad-green);
                background-size: 300% 100%;
            }
        }
    }
}